<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.FollowMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Follow" >
    <id column="foid" property="foid" jdbcType="INTEGER" />
    <result column="uid_user" property="uidUser" jdbcType="VARCHAR" />
    <result column="uid_ed" property="uidEd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    foid, uid_user, uid_ed
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.FollowExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from follow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from follow
    where foid = #{foid,jdbcType=INTEGER}
  </select>
  <select id="selectUidedByUid" resultType="java.lang.String" parameterType="java.lang.String">
  	select uid_ed from follow 
  	where uid_user = #{uid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from follow
    where foid = #{foid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.FollowExample" >
    delete from follow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Follow" >
    insert into follow (foid, uid_user, uid_ed
      )
    values (#{foid,jdbcType=INTEGER}, #{uidUser,jdbcType=VARCHAR}, #{uidEd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Follow" >
    insert into follow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="foid != null" >
        foid,
      </if>
      <if test="uidUser != null" >
        uid_user,
      </if>
      <if test="uidEd != null" >
        uid_ed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="foid != null" >
        #{foid,jdbcType=INTEGER},
      </if>
      <if test="uidUser != null" >
        #{uidUser,jdbcType=VARCHAR},
      </if>
      <if test="uidEd != null" >
        #{uidEd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.FollowExample" resultType="java.lang.Integer" >
    select count(*) from follow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update follow
    <set >
      <if test="record.foid != null" >
        foid = #{record.foid,jdbcType=INTEGER},
      </if>
      <if test="record.uidUser != null" >
        uid_user = #{record.uidUser,jdbcType=VARCHAR},
      </if>
      <if test="record.uidEd != null" >
        uid_ed = #{record.uidEd,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update follow
    set foid = #{record.foid,jdbcType=INTEGER},
      uid_user = #{record.uidUser,jdbcType=VARCHAR},
      uid_ed = #{record.uidEd,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Follow" >
    update follow
    <set >
      <if test="uidUser != null" >
        uid_user = #{uidUser,jdbcType=VARCHAR},
      </if>
      <if test="uidEd != null" >
        uid_ed = #{uidEd,jdbcType=VARCHAR},
      </if>
    </set>
    where foid = #{foid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Follow" >
    update follow
    set uid_user = #{uidUser,jdbcType=VARCHAR},
      uid_ed = #{uidEd,jdbcType=VARCHAR}
    where foid = #{foid,jdbcType=INTEGER}
  </update>
</mapper>